pip-requirements
setuptools
streamlit
openai
requests
httpx
fastapi
uvicorn
python-nmap
dnspython
paramiko
pycryptodomex
beautifulsoup4
tensorflow
numpy
Wappalyzer
pymetasploit3
PySocks
serpapi
pandas
scikit-learn
